.window {
  border: 1px solid #18A0BF;
  display: inline-block;
  background-color: #F2F2F2;
  font-family: Segoe UI, sans-serif;
  cursor: default;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#close {
  margin: 0 -5px;
}

#close:hover {
  background: #E81123;
  color: white;
  padding: 0;
}

#expand:hover {
  background: #19A3C2;
  color: white;
}

#turn:hover {
  background: #19A3C2;
  color: white;
}

#close:active {
  background: #F1707A;
  color: white;
  padding: 0;
}

#expand:active {
  background: #33ADC9;
  color: white;
}

#turn:active {
  background: #33ADC9;
  color: white;
}

#turn {
  font-weight: bold;
}

.historyButton {
  font-size: large;
  width: 50px;
  height: 50px;
  text-align: center;
  display: table-cell;
  line-height: 50px;
  float: right;
}

#delHistoryButton.historyButton {
  font-size: xx-large;
  line-height: 35px;
  display: none;
}

#delHistoryButton.historyButton:hover {
  background-color: #C6C6C6;
}

#delHistoryButton.historyButton:active {
  background-color: #B0B0B0;
}

#delMemoryButton.historyButton {
  font-size: xx-large;
  line-height: 35px;
  display: none;
}

#delMemoryButton.historyButton:hover {
  background-color: #C6C6C6;
}

#delMemoryButton.historyButton:active {
  background-color: #B0B0B0;
}

.historyButton:hover {
 background-color: #DADADA;
}

.historyButton:active {
  background-color: #B8B8B8;
}

#menu {
  font-size: xx-large;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  z-index: 999;
}

#historyList {
  width: 320px;
  height: 250px;
  position: absolute;
  background-color: #DCDCDC;
  bottom: 50px;
  display: none;
  overflow: auto;
}

#memoryList {
  width: 320px;
  height: 250px;
  position: absolute;
  background-color: #DCDCDC;
  bottom: 50px;
  display: none;
  overflow: auto;
}

.historyText {
  top: 0;
  position: absolute;
  padding: 20px;
  color: #B0B0B0;
}

.memoryText {
  top: 0;
  position: absolute;
  padding: 20px;
  color: #B0B0B0;
}

#delHistory {
  width: 320px;
  height: 50px;
  position: absolute;
  background-color: #DCDCDC;
  bottom: 0;
  vertical-align: bottom;
  display: none;
  overflow: auto;
}

#delMemory {
  width: 320px;
  height: 50px;
  position: absolute;
  background-color: #DCDCDC;
  bottom: 0;
  vertical-align: bottom;
  display: none;
  overflow: auto;
}

.type {
  font-size: medium;
  font-weight: bold;
  margin: 0 10px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.type:before { /* для IE8+ */
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}


#menu:hover {
 background-color: #DADADA;
}

#menu:active {
  background-color: #B8B8B8;
}

.historyElem {
  margin: 10px 0 10px 0;
}

.historyElem:hover {
  background-color: #C6C6C6;
}

.historyElem:active {
  background-color: #B0B0B0;
}

.memoryElem {
  margin: 10px 0 10px 0;
}

.memoryElem:hover {
  background-color: #C6C6C6;
}

.memoryElem:active {
  background-color: #B0B0B0;
}

.windowControl {
  float: right;
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: medium;
  line-height: 20px;
}
.windowControl:hover {
  background-color: #CFCFCF;
}

.answer {
  font-size: xx-large;
  float: right;
  margin: 10px;
  clear: right;
  font-weight: bold;
}

span.answer {
  font-size: x-large;
  margin: 0 10px 10px;
  font-size: large;
}

.solveString {
  color: gray;
  float: right;
  margin: 0 10px;
  height: 21px;
}

span.solveString {
  margin: 10px 10px 0;
  font-size: small;
}

.numbers {
  font-weight: bold;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;

}

.row DIV {
  float: left;
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: #E6E6E6;
  line-height: 50px;
  font-size: large;
}

.row DIV:hover {
  background-color: #CFCFCF;
}

.row DIV:active {
  background-color: #B8B8B8;
}

.row {
  clear: left;
  float: left;
}

.addytionallyButton DIV {
  float: left;
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 50px;
  font-size: large;
  border-top: 1px solid #DADADA;
}

.addytionallyButtonNotActive DIV{
  float: left;
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 50px;
  font-size: large;
  border-top: 1px solid #DADADA;
  color: #C2C2C2;
}

.addytionallyButton DIV:hover {
  background-color: #CFCFCF;
}

.addytionallyButton DIV:active {
  background-color: #B8B8B8;
}

.addytionallyButton {
  clear: left;
  float: left;
}

.separetor {
  clear: left;
  float: left;
  width: 320px;
  height: 10px
}

.memoryButtonDIV {
  float: left;
  width: 16.66%;
  height: 25px;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 25px;
  font-size: small;
}

.memoryButtonNotActive {
  float: left;
  width: 16.66%;
  height: 25px;
  text-align: center;
  background-color: #F2F2F2;
  line-height: 25px;
  font-size: small;
  color: #C2C2C2;
}

.memoryButtonNotActive:hover {
  background-color: #F2F2F2;
}

.memoryButtonDIV:hover {
  background-color: #CFCFCF;
}

.memoryButtonDIV:active {
  background-color: #B8B8B8;
}

.memoryButton {
  clear: left;
  float: left;
  width: 320px;
}

.historyMemory {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.border {
  border: 1px solid red;
}

.buttons {
  display: inline-block;
  position: relative;
}

.windowName {
  font-size: small;
  line-height: 20px;
  margin: 0 5px
}

.memoryAnswer {
  font-size: x-large;
  margin: 10px;
  float: right;
  font-weight: bold;
}

.memoryElemButtons {
  float: right;
  clear: right;
}

.memoryElemButtons DIV {
  float: right;
  height: 30px;
  width: 30px;
  color: #0099BC;
  font-weight: bold;
  font-size: small;
  text-align: center;
  line-height: 30px;
}

.memoryElemButtons DIV:hover {
  color: #0C0C0C;
  background-color: #B3B3B3;
}

.memoryElemButtons DIV:active {
  color: #0C0C0C;
  background-color: #9E9E9E;
}
